{{- /*  Initialize. */}}
{{- $role := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $role = . }}
{{- else }}
  {{- with (.Get "role") }}
    {{- $role = . }}
  {{- else }}
    {{- errorf "The %q shortcode requires a single positional argument for manger-role."}}
  {{- end }}
{{- end }}

{{- $team := partials.IncludeCached "data/team" page }}

{{- $members := slice }}
{{- $members = where $team "role" "like" $role }}
{{- with (.Get "team") }}
  {{- $members = where $members "role" "like" . }}
{{- end }}

<table>
    <thead>
        <th>Name</th>
        <th>Role</th>
    </thead>
    <tbody>
        {{- range $members }}
          <tr>
              <td>{{ partial "member-by-name" .name }}</td>
              <td>{{ .role | safe.HTML }}</td>
          </tr>
        {{- end }}
    </tbody>
</table>

<style>
    img.avatar {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    aspect-ratio: auto 90 / 90;
    overflow-clip-margin: content-box;
    }
</style>
